

.footer {
  width: 100%;
  padding: 40px 0;
  background-color: black;
  color: seashell;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.footer h5 {
  font-size: 26px;
  margin-bottom: 10px;
}


.footer p {
  margin: 5px 0;
  font-size: 20px;
}


.footer .copyright {
  margin-top: 20px;
  width: 100%;
  text-align: left;
  padding-left: 20px;
  font-size: 18px;
  opacity: 0.9;
}


@media (max-width: 900px) {
  .footer {
    padding: 30px 0;
  }

  .footer h5 {
    font-size: 22px;
  }

  .footer p {
    font-size: 18px;
  }

  .footer .copyright {
    font-size: 16px;
    padding-left: 15px;
  }
}