.locationsSection {
  width: 100%;
  padding: 60px 0;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: seashell;
  text-align: center;
}

.locationsContent {
  max-width: 1000px;
  width: 100%;
  z-index: 1;
}

.locationsContent h2 {
  font-size: 36px;
  margin-bottom: 40px;

}


.locationsGrid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}


.locationCard {
  width: 300px;
  background-color: rgba(0, 0, 0, 0.8);
 
  padding: 20px;
  line-height: 1.6;
}

.locationCard h3 {
  font-size: 28px;
  margin-bottom: 15px;
  opacity: 1;
}

.locationCard p {
  font-size: 18px;
}


@media (max-width: 900px) {
  .locationsSection {
    height: auto;
    padding: 80px 20px;
  }

  .locationsGrid {
    flex-direction: column;
    align-items: center;
  }

  .locationCard {
    width: 90%;
  }

  .locationsContent h2 {
    font-size: 30px;
  }
}