

.teas {
  width: 1000px;
  margin: 100px auto;
  text-align: center;
}

.teas h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.teas h4 {
  font-size: 24px;
  margin-bottom: 40px;
}


.flex_pics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}


.pic {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pic img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.pic h4 {
  font-size: 20px;
  color: seashell;
}


@media (max-width: 900px) {
  .teas {
    width: 90%;
    margin: 60px auto;
  }

  .flex_pics {
    flex-direction: column;
    align-items: center;
  }

  .pic {
    width: 90%;
  }

  .pic img {
    height: 180px;
  }

  .teas h2 {
    font-size: 30px;
  }

  .teas h4 {
    font-size: 20px;
  }
}